body {
    height: 100%;
    margin: 16px;
    display: flex;
    justify-content: center;
    justify-items: center;
    font-size: 16px;
    color: rgb(176, 218, 121);
    background: rgb(66, 82, 44);
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#container {
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 400px auto;
    padding: 8px;
    border-radius: 16px;
    background: rgb(109, 136, 74);
}

#notes {
    overflow: auto;
}

#newnote {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

#newnote * {
    background: rgb(178, 226, 115);
    color: rgb(18, 71, 1);
    font-family: cursive;
    border: none;
    outline: none;
    border-radius: 4px;
}

#title {
    padding: 8px;
}

#title::placeholder {
    color: rgb(18, 71, 1);
    font-family: cursive;
}

#title, #send {
    height: 60px;
}

#send {
    cursor: pointer;
}

#content {
    height: 240px;
    resize: none;
    padding: 4px;
}

#content::placeholder {
    color: rgb(18, 71, 1);
    font-family: cursive;
}

.note {
    max-width: 100%;
    margin-right: 16px;
    margin-bottom: 16px;
    border-radius: 8px;
    background: rgb(124, 160, 80);
    word-wrap: break-word;
    overflow: hidden;
    position: relative;
}

.note * {
    display: inline-block;
}

.note_title {
    padding: 8px;
    margin-right: 8px;
    border-radius: 4px;
    background: rgb(66, 82, 44);
}

.note input {
    display: none;
}

.note_content {
    padding: 4px;
}

.delete_note, .edit_note {
    line-height: 20px;
    width: 28px;
    padding: 4px;
    position: absolute;
    right: 0px;
    top: 0px;
    background: rgb(178, 226, 115);
    color: rgb(18, 71, 1);
    border: none;
    outline: none;
    border-radius: 4px;
    font-family: cursive;
    font-size: 20px;
    cursor: pointer;
}

.edit_note {
    right: 32px;
}

#editArea {
    top:26px;
    background-color: rgb(109, 136, 74);
    height:400px;
    width: 400px;
    position: absolute;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

#editArea #title {
    height: 60px;
    padding: 8px;
    background: rgb(178, 226, 115);
    color: rgb(18, 71, 1);
    font-family: cursive;
    border: none;
    outline: none;
    border-radius: 4px;
}

#editArea #content {
    height: 240px;
    resize: none;
    padding: 4px;
    background: rgb(178, 226, 115);
    color: rgb(18, 71, 1);
    font-family: cursive;
    border: none;
    outline: none;
    border-radius: 4px;
}
#saveEdit{
    background: rgb(178, 226, 115);
    color: rgb(18, 71, 1);
    font-family: cursive;
    border: none;
    outline: none;
    border-radius: 4px;
    height: 30px;
    cursor: pointer;
}
#close{
    background: rgb(178, 226, 115);
    color: rgb(18, 71, 1);
    font-family: cursive;
    border: none;
    outline: none;
    border-radius: 4px;
    height: 30px;
    cursor: pointer;
}